* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background: url("../img/bg/background\ 1.png") center center/cover no-repeat;
}
.header{
    padding: 51px 0 17px 0;
}
 
.container{
    max-width: 1028px; 
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-logo-wrap {
    display: flex;
    justify-content: space-between;
}

.header-descr-wrap{
    display: flex;
    flex-direction: column;
}

.header-link-text, .header-link-small-text, .header-link-mail, .header-link-phone 
{
    text-decoration: none;
}

.header-logo-wrap:hover .header-link-text {
    transition: .3s;
    color: #F26522;
}

.header-logo-wrap:hover .header-link-small-text {
    transition: .3s;
    color: #F26522;
}

.header-logo-wrap:hover .header-link-logo svg {
    transition: .3s;
    fill: #F26522;
}
.header-descr-wrap:hover .header-link-mail{
    transition: .3s;
    color: #F26522;
}

.header-descr-wrap:hover .header-link-phone{
    transition: .3s;
    color: #F26522;
}

.header-link-text, .header-link-small-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    margin-left: 8px;
}

.header-link-small-text{
    font-size: 18px;
}

.overlay {
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 53px;
    height: 47px;
    opacity: 0;
    transition: .5s ease;
}

.overlay:hover {
    opacity: 1;;
} 

.header-descr-wrap:hover{
    color:  #F26522;;
}


.header-link-mail, .header-link-phone {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.header-link-phone{
    margin-top: 19px;
}

.header-link-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.main{
    padding: 0 0 49px 0
}
.main-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-img-wrap{
    margin-top: 37px;
}

.main-descr{
    margin-top:80px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.footer{
    padding: 49px 0 15px 0;
}

.footer-descr{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.main-wrap-hidden{
    display: flex;
}


.main-img{
    position: relative;
    top:60px;
    width: 300px;
    height: 220px;
}

.main-container-hidden{
    position: absolute;
    display: none;
    justify-content: space-between;
    background: #F26522;
    width: 300px;
    height: 55px;
}

.box-hover{
    cursor: pointer;
}

.main-img:hover + div{
    display: flex;
}

.main-title-hidden{
    margin-top: 7px;
    margin-left: 16px;
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.main-descr-hidden{  
    margin-top: 8px;
    margin-left: 16px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}


.main-subtitle-hidden{
    margin-top: 29px;
    margin-right: 16px;
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}


.main-img-hidden::after{
    content: "";
    display: block;
    color:#FFF;
    background-image: url("/img/Vector\ 1.svg");
    width: 8px;
    height: 12px;
    margin-top: 33px;
    margin-right: 14px;
}

.main-descr:hover{
    color:  #F26522;;
}